<div class="container ">
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 form">
      <h1>Add Video</h1>
      <div class="alert alert-danger" *ngIf="status == 'error'">
        Error no saved video must MP4
      </div>
      <form #videoForm="ngForm" (ngSubmit)="onsubmit()" class="col-sm-10">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" #title="ngModel" [(ngModel)]="video.title" pattern=".{3,}" class="form-control" required
          />
          <div *ngIf="title.errors && title.touched" class="alert alert-danger">
            <div *ngIf="title.errors.pattern">
              Ttitle is invalid
            </div>
            <div *ngIf="title.errors.required">
              Title is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" #description="ngModel" class="form-control" pattern=".{6,}" [(ngModel)]="video.description"
            rows="8" cols="80" required></textarea>
          <div *ngIf="description.errors && description.touched" class="alert alert-danger">
            <div *ngIf="description.errors.pattern">
              Description is invalid
            </div>
            <div *ngIf="description.errors.required">
              Description is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="FileUpload" class="btn btn-info upload ">Upload Video..</label>
          <input type="file" id="FileUpload" (change)="fileChangeEvent($event)" class="custom-file-input" required>

        </div>
        <div class="form-group" *ngIf="urlVideo!=null">
          <vg-player>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>

              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>


              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>


              <vg-mute></vg-mute>
              <vg-volume></vg-volume>

              <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video [vgMedia]="media" #media id="singleVideo">
              <source [src]="sanitizer.bypassSecurityTrustResourceUrl(urlVideo)" type="video/mp4">

            </video>
          </vg-player>
        </div>
        <app-snipper [hidden]="loading"></app-snipper>
        <div class="form-group">
          <label for="">Tags</label>
          <tag-input [(ngModel)]='video.tags' theme='bootstrap' name="tags" #tags="ngModel" required></tag-input>

        </div>

        <ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="500"
          [thick]="true" [ease]="'easeInSine'"></ng-progress>
         
        <button type="submit" class="btn btn-primary" [disabled]="!videoForm.form.valid">
          Saved video</button>
           
      </form>

    </div>
  </div>

</div>