
<div class="col-sm-6">
<h1>Registro</h1>
<div class="alert alert-success" *ngIf="status == 'success'" >
  Registro completado correctamente, <a [routerLink]="['/login']">Identificate aquí</a>
</div>
<div class="alert alert-danger" *ngIf="status == 'error'" >
  Error en el registro
</div>
  <form #registerForm="ngForm" (ngSubmit)="onsubmit(registerForm)" class="col-sm-10">
  <p>
    <label>Nombre</label>
      <input type="text" name="name"  #name="ngModel" [(ngModel)]="user.name" class="form-control"
      required />
  <span *ngIf="!name.valid && name.touched"> El nombre es obligatorio</span>
  </p>
  <p>
    <label>apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control"
      required>
      <span *ngIf="!surname.valid && surname.touched"> los apellidos son obligatorios</span>
  </p>
  <p>
    <label>correo electronico</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
      <span *ngIf="!email.valid && email.touched"> El email es obligatorio</span>
  </p>
  <p>
    <label>contraseña</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
      <span *ngIf="!password.valid && password.touched"> El password es obligatorio</span>
  </p>

    <button type="submit" class="btn btn-primary"
    [disabled]="!registerForm.form.valid">
      Registro</button>
  </form>
</div>
