


<div class="row">


<div class="col-sm-12">

  <div class="container componente-lista">
  <h3>Last Additions</h3>
    <div *ngFor=" let video of videos " class="card">

      <a [routerLink]="['/video-player', video._id ]" >
        <div class="row">


        <div class="col-sm-12 ">
          <video   controls >
            <source src="{{url}}{{video.video_src}}" type="video/mp4" >
          </video>
        </div>
</div>
  </a>
<div class="row">


        <div class="detalles col-sm-6 ">
          <h3> {{video.title}} </h3>
          <p> {{video.description}} </p>

        </div>

        <div class="col-sm-6">
          <like [video]="video"
           [likesCount]="video.favoritesCount" (toggle)="onToggleFavorite(video,$event)"  ></like>
        </div>
</div>



    </div>

</div>



</div>

</div>
