<ng-progress></ng-progress>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
  <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item " *ngIf="identity">
      <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
          <i class="fa fa-home" aria-hidden="true"></i>
            Home
      </a>

    </li>
    <li class="nav-item" *ngIf="identity">
      <a class="nav-link" [routerLink]="['/add-video']" [routerLinkActive]="['active']">
        <i class="fa fa-upload" aria-hidden="true"></i>
            Add Video
      </a>
    </li>
    <li class="nav-item" *ngIf="identity">
      <a class="nav-link" [routerLink]="['/my-videos']" [routerLinkActive]="['active']">
        <i class="fa fa-user" aria-hidden="true"></i>
            Profile
      </a>
    </li>
    <li class="nav-item" *ngIf="identity">
      <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">
        <i class="fa fa-users" aria-hidden="true"></i>
            People
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav" *ngIf="!identity">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']" >Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
    </li>

  </ul>
  <div class="btn-group" *ngIf="identity">
    <img *ngIf="identity.image" src="{{url +'get-image-file/'+identity.image}}" width="40px" height="40px" alt="avatar" class="avatar">
        <img *ngIf="!identity.image" src="assets/user.png" width="40px" height="40px" alt="avatar" class="avatar">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{identity.name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" [routerLink]="['/user-edit']">My Data</a>
      <a class="dropdown-item" (click)="logout()">logout</a>

    </div>
  </div>
</div>

</nav>

    <router-outlet></router-outlet>
