<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="navigation col-md-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="navbar-header">
          <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
              <a [routerLink]="['/home']">
                <span class="glyphicon glyphicon-home"></span>
                    Inicio
              </a>

          </li>
          <li>
              <a [routerLink]="['/home']">
                <span class="glyphicon glyphicon-home"></span>
                    Inicio
              </a>

          </li>
        </ul>
      </div>

    </div>
  </nav>

</div>-->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
  <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
          <i class="fa fa-home" aria-hidden="true"></i>
            Home
      </a>

    </li>
    <li class="nav-item" *ngIf="identity">
      <a class="nav-link" [routerLink]="['/add']" [routerLinkActive]="['active']">
        <span class="glyphicon glyphicon-home"></span>
            Añadir Video
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav" *ngIf="!identity">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']" >Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
    </li>

  </ul>
  <div class="btn-group" *ngIf="identity">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{identity.name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" [routerLink]="['/user-edit']">Mis Datos</a>
      <a class="dropdown-item" (click)="logout()">Salir</a>

    </div>
  </div>
</div>

</nav>

    <router-outlet></router-outlet>
