
<div class="container"   infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" >
    <div class="title">
        <h3>#{{tag}}</h3>
    </div>

<div class="row">



    <div class="col-lg-4 col-md-4 col-xl-4" *ngFor="let video of videos">
        <div class="card">


          <div class="card-block post-timelines">
            <a [routerLink]="['/video-player', video._id ]">
              <h3>{{video.title}}</h3>
          
            <vg-player class="img-fluid width-100">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>

              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>

              <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>


                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>


                <vg-mute></vg-mute>
                <vg-volume></vg-volume>

                <vg-fullscreen></vg-fullscreen>
              </vg-controls>

              <video [vgMedia]="media" #media>
                <source [src]="sanitizer.bypassSecurityTrustResourceUrl(url+video.video_src)" type="video/mp4">

              </video>
            </vg-player>
          </a>
            <div class="sidebar">
              <div class="tag-list">
                <a *ngFor="let tag of video.tags" (click)="setListTo(tag)" class="tag-default tag-pill">
                  #{{ tag }}
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>
  
</div>

<app-snipper [hidden]="loading"></app-snipper>
</div>