vg-player {
  margin-top: 3rem;
  height: auto;
}
.detail {
  margin-top: 0.5rem;
}
.like {
  margin-top: 1rem;
}
.title {
  text-align: center;
}
app-like {
  text-align: center;
}
.follow {
  margin: 2rem;
}
img {
  border-radius: 50%;
}
