.panel{
  margin: 2rem 0.6rem;
  background-color: #0275d8;
  width: 20rem;
  display: inline-block;
}
.panel video{
  width: 20rem
}

.componente-lista .panel a{

    text-decoration: none;
}
h3{
  text-align: center;
    color: #ffffe6;
    padding: 1rem;
}
